body {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.title {
    width: 100%;
    background-color: #2b9dd1;
    padding-bottom: -1px !important;
}

.title-box {
    text-align: center;
}

.title img {
    width: 100%;
    max-width: 800px;
}

.main {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
}

.row {
    margin: 90px 0;
}

@media (max-width: 768px) {
    .row {
        margin: 70px 0;
    }
}

h2 {
    display: none;
    /*font-size: 1.4em;
    color: #2b9cd0;*/
}

.index {
    margin-top: -7px;
    margin-bottom: 20px;
    height:25px;
}

p {
    font-size: 0.9em;
    margin: 0px;
    color: #555;
}

@media (max-width: 768px) {
    p {
        font-size: 0.8em;
    }
}

a {
    color: #555;
    float: left;
    /*border-style: none;*/
    text-decoration: none;
    /*border-bottom:dashed 1px #2b9cd0;*/
}

.columns {
    float: left;
    width: 100%;
    position: relative;
}

#about .column-left {
    float: left;
    width: 50%;
}

#about .column-left img {
    width: 100%;
}

#about .column-right {
    float: right;
    width: 45%;
    margin-left: 5%;
}


/*@media (max-width: 768px) {
    #about .column-left,
    #about .column-right {
        width: 100%;
    }
}*/

.clear {
    clear: both;
}

.iframe-content {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom:20px;
    /*
    width: 50%;
    padding-top: 28.125%;*/
}

@media (max-width: 768px) {
    .iframe-content {
        width: 100%;
        padding-top: 56.25%;
    }
}

.iframe-content iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

video {
    max-width: 400px;
    wodth: 100%;
    margin-bottom: 30px;
}

footer {
    background-color: #eeeeee;
    padding: 20px 5%;
}

footer p {
    font-size: 0.7em;
}

.icon {
    float: left;
    height: 15px;
